.advantages {
  display: flex;
  flex-direction: column;

  @include sm {
    display: grid;
    grid-template-columns: repeat(4, (100%/4));
    grid-template-rows: repeat(3, min-content);
    row-gap: 57px;
  }
}

.advantages__item {
  & + & {
    margin-top: 30px;
  }

  @include sm {
    display: flex;
    align-items: flex-end;
    margin-top: 0;

    &:nth-child(1) {
      grid-column: 1 / span 2;
      grid-row: 1 / span 1;
    }

    &:nth-child(2) {
      grid-column: 1 / span 2;
      grid-row: 2 / span 1;
    }

    &:nth-child(3) {
      grid-column: 1 / span 2;
      grid-row: 3 / span 1;
    }

    &:nth-child(4) {
      grid-column: 3 / span 2;
      grid-row: 1 / span 1;
    }

    &:nth-child(5) {
      grid-column: 3 / span 2;
      grid-row: 2 / span 1;
    }

    &:nth-child(6) {
      grid-column: 3 / span 2;
      grid-row: 3 / span 1;
    }
  }
}

.advantages__title {
  margin: 0;
  margin-top: 17px;

  font-size: 17px;
  line-height: 20px;
  color: $basic-black;
  white-space: pre-line;
}
