.advantages {
  @include unstyled-list();
  display: flex;
  flex-direction: column;

  @include sm {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.advantages__block {
  display: flex;
  flex-direction: column;

  @include sm {
    width: 50%;
    padding-right: 20px;

    &:nth-child(1n + 3) {
      margin-top: 57px;
    }
  }
}

.advantages__item {
  position: relative;
  display: flex;
  flex-direction: column;

  padding-top: 83px;

  @include sm {
    padding-top: 111px;

    &:nth-child(1) {
      padding-top: 98px;
    }
  }

  @include lg {
    &:nth-child(1) {
      padding-top: 96px;
    }
  }
}

.advantages__title {
  margin: 0;

  font-size: 17px;
  line-height: 20px;
  color: $basic-black;
  white-space: pre-line;

  @include sm {
    font-size: 20px;
    line-height: 22px;
  }
}

.advantages__icon {
  position: absolute;
  fill: $basic-aquamarine;

  &--flower {
    top: 28px;
    left: 8px;

    @include sm {
      top: 41px;
    }

    @include lg {
      top: 39px;
    }
  }

  &--money {
    top: 29px;
    left: 0;

    @include sm {
      top: 56px;
      left: 1px;
    }
  }

  &--heart {
    top: 34px;
    left: 8px;

    @include sm {
      top: 61px;
    }
  }

  &--ball {
    top: 31px;
    left: 3px;

    @include sm {
      top: 45px;
    }

    @include lg {
      top: 43px;
    }
  }

  &--rocket {
    top: 32px;
    left: -5px;

    @include sm {
      top: 59px;
    }
  }

  &--gift {
    top: 30px;
    left: 3px;

    @include sm {
      top: 57px;
    }
  }
}
