.beauti-divide {
  &::after {
    content: "";
    width: 100%;
    height: 6px;
    background: url("../../img/bg-zigzag-line.svg") round no-repeat;
  }

  @include sm {
    &::after {
      height: 17px;
    }
  }

  @include lg {
    &::after {
      width: auto;
      height: 23px;
    }
  }
}
