.card {
  outline: none;

  &:focus &__info,
  &:hover &__info {
    box-shadow: $box-shadow-primary;
  }

  &:active &__info {
    box-shadow: $box-shadow-tertiary;
  }

  &:focus &__icon,
  &:hover &__icon {
    fill: $basic-aquamarine;
  }

  &:active &__icon {
    fill-opacity: 0.3;
  }

  &:focus &__item-name,
  &:hover &__item-name {
    color: $basic-black-6;
  }

  &:active &__item-name {
    color: $basic-black-3;
  }

  @include sm {
    display: flex;
  }

  @include lg {
    flex-direction: column;
    height: 100%;
  }
}

.card__image-wrap {
  @include only-tablet {
    width: 50%;
  }
}

.card__image {
  display: block;
  max-width: 100%;
  width: 100%;
  margin: 0 auto;

  background-color: $basic-grey-light;

  @include sm {
    height: auto;
  }
}

.card__info {
  height: 100%;
  padding: 27px 27px 25px;

  border: 1px solid $basic-grey-light;

  @include sm {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
    height: auto;
    padding: 27px 32px 24px 32px;
  }

  @include lg {
    width: 100%;
    height: inherit;
    padding: 28px 31px 24px 26px;
  }
}

.card__desc {
  margin: 0;
}

.card__item-name {
  margin: 0;

  font-size: 17px;
  line-height: 24px;
  color: $basic-black;

  @include sm {
    font-size: 20px;
  }
}

.card__params {
  margin: 0;
  margin-top: 6px;
  font-size: 13px;
  line-height: 30px;

  @include sm {
    margin-top: 6px;
    font-size: 15px;
  }
}

.card__price-wrap {
  display: flex;
  align-items: center;
  width: 100%;
  margin-top: 17px;

  border-top: 1px solid $basic-grey-light;

  @include lg {
    margin-top: 11px;
  }
}

.card__price {
  width: 100%;
  padding-top: 23px;

  font-size: 15px;
  line-height: 24px;
  color: $basic-black;

  @include sm {
    padding-top: 24px;
    font-size: 17px;
  }
}

.card__icon {
  margin-top: 16px;
  fill: $basic-black-2;

  @include sm {
    margin-top: 15px;
  }
}
