.checkbox-field {
  position: relative;

  & + &:not(.form__item--horizon) {
    margin-top: 22px;
  }

  @include sm {
    width: 47.7%;

    &:nth-child(2n - 1) {
      margin-right: auto;
    }
  }

  @include lg {
    width: 30%;

    &:nth-child(2n - 1) {
      margin-right: inherit;
    }
  }
}

.checkbox-field__label {
  position: relative;
  display: flex;
  align-items: center;

  font-weight: 700;
  font-size: 17px;
  line-height: 18px;
  color: $basic-black;

  &::before {
    content: "";
    flex-shrink: 0;
    display: flex;
    align-items: center;

    @include rect(38px, 39px);
    margin-right: 24px;

    border: 2px solid $basic-black;

    @include sm {
      @include rect(54px, 52px);
      margin-right: 28px;
    }
  }

  &::after {
    content: "";
    position: absolute;
    left: 8px;
    display: none;
    width: 22px;
    height: 16px;

    background: url("../../img/tick.svg") center no-repeat;

    @include sm {
      left: 11px;
      width: 33px;
      height: 22px;
      background: url("../../img/icon-tick.svg") center no-repeat;
    }
  }

  @include sm {
    font-size: 19px;
  }
}

.checkbox-field__input {
  position: absolute;
  opacity: 0;

  &:checked ~ .checkbox-field__label {
    &::after {
      display: block;
    }
  }
}
