.form {
  display: flex;
  flex-direction: column;
  padding-top: 16px;
  padding-bottom: 55px;

  @include sm {
    flex-wrap: wrap;
    padding-top: 54px;
    padding-bottom: 50px;
  }

  @include lg {
    flex-wrap: inherit;
    padding-top: 110px;
    padding-bottom: 49px;
  }
}

.form__desc-wrap {
  @include outer-indent();
  @include wrapper();

  @include sm {
    padding-bottom: 11px;
  }
}

.form__desc {
  margin: 0;
  margin-left: auto;
  font-size: 13px;
  line-height: 24px;

  @include sm {
    font-size: 17px;
    line-height: 30px;
  }

  @include lg {
    padding-left: (100% / 6);
    padding-right: (100% / 6);
  }
}

.form__container {
  @include outer-indent();
  @include wrapper();
  width: 100%;

  @include sm {
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;

    padding-top: 50px;
    padding-bottom: 50px;
  }
}

.form__block {
  &:last-of-type() .form__list {
    padding-bottom: 0;
  }

  &--combo {
    .form__title {
      margin-bottom: 13px;
    }

    .form__title--email {
      margin-bottom: 16px;
    }

    .input-field__input {
      padding-right: 40px;
    }
  }

  @include only-mobile {
    &:nth-of-type(2) {
      margin-top: 30px;
    }

    & + & {
      margin-top: 35px;
    }

    & + &--checkbox {
      margin-top: 33px;
    }
  }

  & .form__title:nth-of-type(1n + 2),
  & .form__list:nth-of-type(1n + 2) {
    margin-top: 35px;
  }

  @include sm {
    &:nth-child(even) {
      background-color: $special-grey;
    }

    & .form__title:nth-of-type(1n + 2),
    & .form__list:nth-of-type(1n + 2) {
      margin-top: 41px;
    }

    &--radiobox,
    &--checkbox {
      .form__title {
        position: relative;
        top: 6px;
      }
    }

    &--combo {
      padding-top: 11px;

      & .input-field {
        width: 75%;
      }

      & .input-field__input {
        padding-right: 55px;
      }
    }
  }

  @include lg {
    &--combo {
      & .input-field {
        width: 66.7%;
      }
    }
  }
}

.form__title {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin: 0;
  margin-bottom: 23px;

  @include sm {
    width: (100% / 4);
    flex-shrink: 0;
    margin-bottom: 0;
  }

  @include lg {
    width: (100% / 6);
    padding-left: 61px;
  }
}

.form__title-text {
  flex-shrink: 0;
  padding-right: 20px;

  font-size: 17px;
  line-height: 16px;
  text-transform: uppercase;
  color: $basic-aquamarine;
}

.form__title-decor {
  flex-grow: 1;
  display: block;
  height: 1px;
  width: 100%;
  max-width: 200px;

  background-color: $basic-krayola-light;

  @include sm {
    display: none;
  }
}

.form__list {
  @include unstyled-list();

  display: flex;
  flex-direction: column;

  @include sm {
    width: (100% * 3) / 4;

    &--horizon {
      flex-direction: row;
      align-items: flex-start;
      flex-wrap: wrap;
    }
  }

  @include lg {
    width: (100% * 5) / 6;

    &:not(&--horizon) {
      padding-right: (100% / 6);
    }
  }
}

.form__item {
  & + & {
    margin-top: 22px;
  }

  @include sm {
    &--horizon {
      & + & {
        margin-top: 0;
      }

      margin: 0;
      width: (100% / 2);
    }

    &:nth-child(1n + 3) {
      margin-top: 24px;
    }
  }

  @include lg {
    &--horizon {
      width: (100% / 3);
    }

    &:nth-child(1n + 3) {
      margin-top: inherit;
    }

    &:nth-child(1n + 4) {
      margin-top: 24px;
    }
  }
}

.form__wrap {
  @include outer-indent();
  @include wrapper();
  width: 100%;
}

.form__info-action {
  display: flex;
  flex-direction: column;
  margin-top: 17px;

  @include sm {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 4px;
  }

  @include lg {
    padding-left: (100% / 6);
    padding-right: (100% / 6);
    margin-top: 0;
  }
}

.form__hint {
  margin: 0;

  font-size: 14px;
  line-height: 16px;

  @include sm {
    max-width: 50%;
    order: 2;

    font-size: 17px;
    line-height: 30px;
  }
}

.form__btn {
  margin-top: 30px;
  font-size: 17px;
  line-height: 16px;

  @include sm {
    min-width: 230px;
    margin-top: 0;
  }
}
