.header-main__title {
  margin: 0;

  @include outer-indent();
  @include wrapper();

  font-size: 27px;
  line-height: 30px;
  text-align: center;

  @include sm {
    font-size: 43px;
    line-height: 50px;
  }

  @include lg {
    font-size: 53px;
    line-height: 57px;
  }
}

.header-main__block {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 177px;
  padding-top: 73px;

  background: none;
  background-color: $special-grey;

  &--with-img {
    min-height: 489px;
    background-image: url("../img/hero-mobile@1x.jpg");
    background-repeat: no-repeat;
    background-color: $basic-white;
    background-size: 575px;
    background-position: center -17px;

    @include retina2x {
      background-image: url("../img/hero-mobile@2x.jpg");
    }
  }

  @include min(575px) {
    &--with-img {
      background: url("../img/hero-tablet@1x.jpg");
      background-size: cover;
      background-position: center;

      @include retina2x {
        background-image: url("../img/hero-tablet@2x.jpg");
      }
    }
  }

  @include sm {
    min-height: 238px;
    padding-top: 101px;

    &::after {
      content: "";
      position: absolute;
      bottom: -2px;
      width: 100%;
      height: 24px;
      background: url("../img/bg-zigzag-fill.svg") round;
    }

    &--with-img {
      min-height: 746px;
      padding-top: 155px;

      &::after {
        bottom: -10px;
      }
    }
  }

  @include lg {
    min-height: 260px;
    padding-top: 101px;

    &--with-img {
      min-height: 746px;
      padding-top: 157px;
      background-image: url("../img/hero-desktop@1x.jpg");

      @include retina2x {
        background-image: url("../img/hero-desktop@2x.jpg");
      }

      &::after {
        bottom: -16px;
        height: 34px;
        background: url("../img/zigzag-fill-desktop.svg") round repeat;
      }
    }
  }
}
