.radiobox-field {
  position: relative;

  & + & {
    margin-top: 22px;
  }

  &:hover .radiobox-field__label::before,
  &:focus .radiobox-field__label::before {
    border-color: $basic-krayola-light;
  }

  &:active .radiobox-field__label::before {
    border-color: $basic-black-3;
  }

  @include sm {
    & + & {
      margin-top: 23px;
    }
  }
}

.radiobox-field__label {
  position: relative;
  display: flex;
  align-items: center;

  font-weight: 700;
  font-size: 17px;
  line-height: 18px;
  color: $basic-black;

  &::before {
    content: "";
    flex-shrink: 0;
    display: flex;
    align-items: center;

    @include circle(39px);
    margin-right: 21px;

    border: 2px solid $basic-dark;

    @include sm {
      @include circle(53px);
      margin-right: 27px;
    }
  }

  &::after {
    content: "";
    position: absolute;
    left: 12px;
    display: none;

    @include circle(16px);

    background-color: $basic-krayola-light;

    @include sm {
      @include circle(21px);
      left: 16px;
    }
  }

  @include sm {
    font-size: 19px;
  }
}

.radiobox-field__input {
  position: absolute;
  opacity: 0;

  &:focus ~ .radiobox-field__label {
    &::before {
      border-color: $basic-krayola-light;
    }
  }

  &:checked ~ .radiobox-field__label {
    &::after {
      display: block;
    }
  }
}
