@mixin circle($size) {
  width: $size;
  height: $size;
  border-radius: 50%;
}

@mixin square($size) {
  width: $size;
  height: $size;
}

@mixin rect($width, $height) {
  width: $width;
  height: $height;
}

@mixin wrapper($maxWidth, $padding) {
  max-width: $maxWidth;
  margin: 0 auto;
  padding: $padding;
}

@mixin only-mobile() {
  @media (min-width: $screen-xs) and (max-width: $screen-sm - 1) {
    @content;
  }
}

@mixin only-tablet() {
  @media (min-width: $screen-sm) and (max-width: $screen-lg - 1) {
    @content;
  }
}

@mixin xs() {
  @media (min-width: $screen-xs) {
    @content;
  }
}

@mixin sm() {
  @media (min-width: $screen-sm) {
    @content;
  }
}

@mixin lg() {
  @media (min-width: $screen-lg) {
    @content;
  }
}

@mixin outer-indent() {
  @include xs {
    padding-left: $padding-xs;
    padding-right: $padding-xs;
  }

  @include sm {
    padding-left: $padding-sm;
    padding-right: $padding-sm;
  }

  @include lg {
    padding-left: $padding-lg;
    padding-right: $padding-lg;
  }
}

@mixin unstyled-list() {
  margin: 0;
  padding: 0;
  list-style: none;
}
