$basic-black: #000000;
$basic-dark: #444444;
$basic-white: #ffffff;
$basic-aquamarine-light: #59d5bc;
$basic-aquamarine: #63d1bb;
$basic-krayola: #46c1ae;
$basic-krayola-dark: #56c3b2;
$basic-krayola-light: #62d1ba;

$basic-grey-light: #ececec;
$special-aquamarine: #149080;

$special-grey-lighter: #c6c6c6;
$special-grey-light: #e5e5e5;
$special-grey: #f1f1f1;

$special-white-9: rgba(255, 255, 255, 0.9);
$special-white-3: rgba(255, 255, 255, 0.3);
$special-dark-1: rgba(68, 68, 68, 0.1);
$special-dark-3: rgba(68, 68, 68, 0.3);
$basic-black-2: rgba(0, 0, 0, 0.2);
$basic-black-3: rgba(0, 0, 0, 0.3);
$basic-black-6: rgba(0, 0, 0, 0.6);

$special-black: #231f20;

$font-family: "OpenSans", "Arial", sans-serif;

$box-shadow-primary: 0 6px 10px rgba(0, 0, 0, 0.1);
$box-shadow-secondary: 0 5px 10px rgba(0, 1, 1, 0.25);
$box-shadow-tertiary: 0 3px 5px rgba(0, 0, 0, 0.1);

$basic-border-width: 2px;
$special-border-width: 1px;

$font-size-special-xxl: 27px;
$font-size-special-xl: 25px;
$font-size-special-l: 19px;
$font-size-special-m-l: 18px;
$font-size-special-m: 17px;
$font-size-special-s-m: 15px;
$font-size-special-s: 14px;
$font-size-special-xs: 13px;

$line-height-special-l: 30px;
$line-height-special-m-l: 24px;
$line-height-special-m: 20px;
$line-height-special-s-m: 18px;
$line-height-special-s: 16px;

$hor-space-mobile: 30px;

$screen-xs: 320px;
$screen-sm: 768px;
$screen-lg: 1150px;

$padding-xs: 30px;
$padding-sm: 50px;
$padding-lg: 50px;
// 13 14 15 17 18 19 25 27 f-s
// 16 18 20 24 30 l-h
